<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
  <style type="text/css">
    body{
       background-image: url(https://cdn.pixabay.com/photo/2016/06/20/13/44/paper-1468883_960_720.jpg);
       background-repeat:no-repeat;
       background-size: cover;

    }
   .content{
  background-image: url(https://cdn.pixabay.com/photo/2018/03/27/17/25/cat-3266673_960_720.jpg);
  box-shadow: 5px 10px 18px LightGrey,5px 10px 18px chocolate;
  background-size: cover;
  margin-top: 50px;
  border-right: 100px;
  padding-top: 20px;
  margin-left:500px;
  margin-right: 500px;
  border-radius: 50px;
  height: 600px;
}
.content:hover{
  background-image: url(https://cdn.pixabay.com/photo/2018/05/30/19/29/cat-3442257_960_720.jpg)
}
 .field{
  position: center;
  height: 50px;
  width: 300px;   
 }
 .zone{
    width:350px;
    height:50px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    font-size: 20px;
    margin-left: 100px;
    color: white;
    font-family: roboto;
    color:white;

 }
 .zone:focus{
  outline: none;
 }
 h2{
 margin-left:100px;
 color: white;
 font-size: 50px;
 font-family:roboto; 
 }
 .checkbox{
  font-size: 20px;
  color: white;
 }
 .bouton{
  width:100px;
  height:40px;
  margin-left:200px;
  margin-top: 20px;
  background-color:Linen;
  border: none;
  font-size: 22px;
  border-radius: 10px;
}
.bouton:hover{
  background-color:red;
}
.for{
  margin-right: 220px;
  margin-left: 220px;
  font-size: 22px;
}

  </style>
</head>
<body>
<div class="content">
<center><h2 >Sign up</h2></center>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field">
<%= f.text_field :first_name, autofocus: true,:class=>'zone', placeholder: "First-name"%>
  </div>
  <div class="field">
<%= f.text_field :last_name, autofocus: true,:class=>'zone', placeholder: "Last-name"
%>
  </div>
  <div class="field">
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>'zone', placeholder: "Email"%>
  </div>
  <div class="field">
  <%= f.password_field :password, autocomplete: "new-password",:class=>'zone', placeholder: "Password"%>
  </div>
  <div class="field">
  <%= f.password_field :password_confirmation, autocomplete: "new-password",:class=>'zone', placeholder: "Confirm-password" %>
  </div><br>
 

  <div class="actions">
    <%= f.submit "Sign up",:class=>"bouton"%><br>
     </div><br>
     <div class="for">
    <%= render "devise/shared/links" %>
    </div>
 
<% end %>

      
</div>
<script type="text/javascript">
  


</script>
</body>
</html>

