<!DOCTYPE html>
<html>
<head>
  <title>Sign in</title>
  <style type="text/css">
 
 
.content{
​
  background-image: url(https://cdn.radiofrance.fr/s3/cruiser-production/2018/12/9f19b228-269f-4995-ba7f-eda054945811/640_gettyimages-155607257.jpg);
  background-size:cover;
  width:500px;
  padding-top: 30px;
  margin-left:400px;
  margin-top: 20px;
  border-radius:50px; 
​
​
​
​
}
​
 .field{
  position: center;
  height: 100px;
  width: 500px;   
 }
 .zone{
    width:400px;
    height:50px;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    font-size:20px;
    color: white;
    font-family: roboto;
​
​
 }
 .zone:focus {
     outline:  none;
}
 h2{
​
 color: white;
 font-size: 70px;
 font-family:roboto;
  background: -webkit-gradient(linear, left top, left bottom, from(#AFEEEE), to(#B22222));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
 }
 .checkbox{
  font-size: 20px;
  color: black;
 }
 .bouton{
  width:100px;
  height:50px;
   background-color: blue;
  color: white;
  border-radius: 10px;
  font-size: 30px;
​
 }
 .bouton:hover{
  background-color:green;
 }
  </style>
</head>
<body>
​
<div class="content"><center>
​
<center><h2 >Log in</h2></center>
​
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'zone', placeholder:"example@gmail.com" %>
  </div>
  <div class="field">
 <%= f.password_field :password, autocomplete: "current-password",:class=>'zone',placeholder:"Password" %>
  </div>
 <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me ,:class=>"checkbox form-control",:class=>"checkbox"%>
      <%= f.label :remember_me ,:class=>"checkbox", :class=>"checkbox"%>
    </div>
  <% end %>
<div class="actions">
  <center>
    
    <%= f.submit "Log in",:class=>"btn btn-md btn-primary"%>
  </center>
  </div>
<% end %>

<center>
  
<%= render "devise/shared/links", :class=>"new-page"%>
</center>
</div></center>
​
​
</div>
</body>
</html>