<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
         .card-img-top {
          border-style: ridge;
          border-radius: 70px;
          background: #505050;
          padding: 5px; 
          width: 350px;
          height: 350px;
          background-size: auto;}

          
          .card-text{
            border-style: outset;
            background-color: lightblue;
            width: 100%;
            background-size: auto;
            border-radius:50px; 

          }  

           h2 {
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5Ey_75ZxLS3GLQFhRD4e2OIVIjZvbjxMSw6HE7vLBFrmWy2IE");
            opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */
            border-radius:50px; 
            font-size: 5.5em; /* 40px/16=2.5em */
            border-style: groove;
            padding: 10px;
            text-align: center;
            width: 200%;
            height: 125px;
            margin-bottom: 50px;
            background-size: auto;
            font-weight: bold;
            font-family: roboto;
            font-style: oblique;
            color:Navy;
           
          }

     </style>
</head>
<body>
<div class="container">
  <div class="row flex-row">
    <div class="col d-flex justify-content-center mt-3">
      <h2>There are all cats</h2>
    </div>
  </div>
  
  <div class="row">
    <%@items.each do |item|%>
      <div class="text-center col-md-4">
        <h3 class="produit"><%= item.title.capitalize!%></h3>
        <p class="text-center card-text"><%= item.description[0..80] %></p> 
        <% unless item.image_url.nil? %>
          <img class="card-img-top" width="150px" heigth="150px"<%= image_tag item.image_url%></br>
      </br>

        <% end %>
        <p><a href="<%= item_path(item.id)%>" class="btn btn-info">Show Cat</a></p>
        <%if current_user%>
        <a href="<%= carts_path(item.id)%>" data-method="post" class="btn btn-primary">Add cart</a>
         <a href="<%= cart_path(item.id)%>" data-method="get" class="btn btn-primary">Show cart</a>
       <%end%>
      </div>
      
    <%end%>
  </div>
</div>
</body>
</html>